name: 'Fund Reminder Bot'

on:
  schedule:
    - cron: '40 6 * * *'

jobs:
  bot:
    runs-on: ubuntu-latest
    steps:
      - name: 'Checkout codes'
        uses: actions/checkout@v1
      - name: 'Run jedgment script'
        env:
          Bark: ${{ secrets.BARK }}
        run: bash ./jedgment.sh
